.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerImage {
  width: 80px;
  height: 80px;
}

.headerNav {
}

.headerList {
  display: flex;
  list-style-type: none;
  gap: 40px;
  font-size: 40px;
}

.headerLink {
  text-decoration: none;
  color: inherit;
}

.languageButton {
  width: 80px;
  height: 80px;
}
