.headerContainer {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.headerImage {
  width: 40px;
  height: 40px;
}

.headerNav {
}

.headerList {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.headerLink {
  text-decoration: none;
  color: inherit;
}
